@font-face {
   font-family: 'ProximaNovaSoft';
   src: url('../assets/fonts/proximanovasoft-regular-webfont.ttf') format('truetype'),
   url('../assets/fonts/proximanovasoft-regular-webfont.woff') format('woff'),
   url('../assets/fonts/proximanovasoft-regular-webfont.woff2') format('woff2'),
   url('../assets/fonts/proximanovasoft-regular-webfont.svg') format('svg');
   font-weight: normal;
   font-style: normal;
} 
  